body.login,body.login *{
	box-sizing:border-box;
	color:#F5F5F5;
	font-family:"proxima_nova","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-weight:normal;
	line-height:1em;
	outline:0 none;
	text-decoration:none;
	text-rendering:optimizelegibility
}

body.login h1{
	color:#07d159;
	font-size:55px;
	font-weight:bold
}

body.login h2{
	font-size:28px;
	font-weight:light;
	font-weight:100
}


body.login em{text-align:center;display:block;margin:20px 0;position:relative}
body.login em:before,body.login em:after{border-top:solid 1px #FFF;content:"";display:block;position:absolute;top:.5em;width:calc(50% - 20px)}
body.login em:before{left:0}body.login em:after{right:0}body.login label{color:#a0a0a0;display:block;font-size:13px;margin-top:15px}


body.login input[type="text"],body.login input[type="password"],body.login select{
	display:block;
	background-color:transparent;
	border:0;border-bottom:solid 1px #FFF;
	border-radius:0;height:27px;
	line-height:27px;width:100%
}



body.login button,body.login .button{
	background-color:transparent;
	border:solid 1.5px #FFF;
	border-radius:256px;
	color:#FFF;
	display:block;font-size:13px;letter-spacing:.03em;
	line-height:1.25em;
	margin:20px auto;
	max-width:320px;height:41px;
	overflow:hidden;
	padding:2px 15px 0;
	text-align:center;
	text-transform:uppercase;
	width:100%
}
body.login button.fb,body.login .button.fb{
	background:#39579b;
	border-color:#FFF
}

body.login .text-small{
	font-size:12px;
	line-height:1.4
}

body.login .footer{
	text-align:center
}


body.login #login-screen{display:table;height:100%;left:0;position:absolute;top:0;width:100%;z-index:9000}
body.login #login-screen.hidden{opacity:0}body.login #login-screen .logo{margin-bottom:30px}
body.login #login-screen .logo img{display:block;height:80px;margin:0 auto;width:268px}
body.login #login-screen .logo img.logo-small{height:30px;margin-bottom:30px;width:100px}


body.login #login-screen #bg-wrap{
	background:#000;
	background-image:url("imagenes/fondo.jpg");
	background-position:center;
	background-size:cover;
	display:table-cell;
	vertical-align:middle
}

body.login #login-screen #bg-wrap:before{
	background-color:rgba(0,0,0,0.6);
	bottom:0;content:"";
	display:block;left:0;
	position:absolute;right:0;top:0
}

body.login #login-screen #login{
	margin:0 auto;position:relative;
	width:1040px
}

body.login #login-screen .logo img.logo-small{
	height:90px;
	margin-bottom:30px;
	width:300px
}

body.login #login-screen #login-method .step-inner{
	padding:45px;
	width:410px
}


body.login #login-screen #login-method .step.show{
	display:table-cell!important;
	opacity:1;
	visibility:visible
}

body.login #login-screen #login-method .step.show,body.login #login-screen #login-method .step.show .step-outer{
	width:410px
}

body.login #login-screen #login-features{
	padding:45px;
	position:relative;
	width:630px;
	display:table-cell;
	vertical-align:middle
}

body.login #login-screen #login-features h2{
	margin:35px 0 40px
}

body.login #login-screen #login-features ul{
	padding:0
}


body.login #login-screen #login-features li{
	background:url(imagenes/check.png) no-repeat 0 0;
	background-size:30px auto;
	font-size:1.21em;
	list-style-type:none;margin:0;
	padding:.225em 0 .625em 2.250em;
	vertical-align:middle
}

body.login #login-screen .step.show ~ #login-features:before{
	border-left:solid 1px #999;
	content:"";
	height:430px;
	left:0;
	margin-top:-215px;
	position:absolute;
	top:50%;width:0
}
