{% extends "base.twig.html" %}

{% block content %}
<div class="col-sm-3">
<a href="/songs/">
  <div class="panel panel-default">
    <div class="panel-heading">
    <img src="/resources/img/songs.png">
    	<h4>Songs</h4>
    </div>
       	
  </div>
  </a>
 </div>
 <div class="col-sm-3">
 <a href="/albums/">
  <div class="panel panel-default">
    <div class="panel-heading">
    <img src="/resources/img/albums.png">
    	<h4>Albums</h4>
    </div>
       	
  </div>
  </a>
 </div>
 <div class="col-sm-3">
 <a href="/artists/">
  <div class="panel panel-default">
    <div class="panel-heading">
    <img src="/resources/img/artists.png">
    	<h4>Artists</h4>
    </div>
       	
  </div>
  </a>
 </div>
 <div class="col-sm-3">
 <a href="/playlists/">
  <div class="panel panel-default">
    <div class="panel-heading">
    <img src="/resources/img/playlists.png">
    	<h4>Playlists</h4>
    </div>
       	
  </div>
  </a>
 </div>

 <div class=" ghost-button-semi-transparent">
     MUSIC PLAYER
</div>
{% endblock %}